<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>library_mgmt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Project</servlet-name>
    <servlet-class>library_project.registration_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project</servlet-name>
    <url-pattern>/registration_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Project1</servlet-name>
    <servlet-class>library_project.login_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project1</servlet-name>
    <url-pattern>/login_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Project2</servlet-name>
    <servlet-class>library_project.search_book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project2</servlet-name>
    <url-pattern>/search_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Project3</servlet-name>
    <servlet-class>library_project.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project3</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Project4</servlet-name>
    <servlet-class>library_project.borrow_book_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project4</servlet-name>
    <url-pattern>/borrow_book_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Project5</servlet-name>
    <servlet-class>library_project.search_book_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project5</servlet-name>
    <url-pattern>/search_book_result</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Project6</servlet-name>
    <servlet-class>library_project.viewFinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project6</servlet-name>
    <url-pattern>/viewFinesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Project7</servlet-name>
    <servlet-class>library_project.returnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project7</servlet-name>
    <url-pattern>/returnBookServlet</url-pattern>
  </servlet-mapping>
</web-app>